// ====================================== Start Variables ======================================
//------ Color
$body-bg: #0F0F0F;
$main-color: #eb2f06; // Alt #EA2027
$text-color: white;
$white: #FFF;
$black: #000;

//------ Shadows
$box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;

//------ Font
$font-family: "Montserrat", sans-serif;

//------ Size
$header-height: 6rem;
$header-shrink-height: 4rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

// ====================================== End Variables ======================================